.projects-section {
    position: relative;
    z-index: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project {
    position: relative;
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    // z-index: 200;
}

.project__title {
    display: block;
    position: relative;
    z-index: 300;
}

h1:hover+.back {
    background: blue;
}