.projects-section {
	// position: relative;
	z-index: 0;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project {
	position: relative;
	width: calc(100% / 3);
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.back {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.back-freelance {
	background: url('../../assets/freelance-back.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0;
	transition: all 200ms ease-in;
}

.back-hobby-games {
	background: url('../../assets/games-back.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0;
	transition: all 200ms ease-in;
}

.back-school-projects {
	background: url('../../assets/school-photo.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 0;
	transition: all 200ms ease-in;
}

.back-opacity {
	opacity: 1;
}

.project__title {
	position: relative;
	z-index: 300;
	color: white;
	font-family: 'Courier New', Courier, monospace;
	font-size: 2rem;
	text-decoration: none;
}

.project__title:hover {
	cursor: pointer;
	opacity: 0;
	display: block;
	width: 100%;
}

.project__title:hover+.back {
	opacity: 1;
}

@media all and (max-width: $mobile-screen) {

	.project {
		width: 100%;
	}

	.projects-section {
		flex-direction: column;
		height: 95vh;
	}

	.project__title {
		width: 100%;
		display: flex;
		justify-content: center;
		transform: translateY(50%);
	}

	.project__title:hover {
		opacity: 1;
		display: flex;
		justify-content: center;
		transform: translateY(50%);
	}

	.back-hobby-games {
		background-position: 5% 0;
	}

	.back {
		opacity: 1;
	}

}