// ------------ adjust height based off footer ----------

.app-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    animation: fadeup 2s forwards ease-out;
}

.app-content-center {
    margin-left: 10%;
    margin-bottom: 2%;
    width: 60%;
}

.name {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 4rem;
    font-weight: 300;
}

.app-content-footer {
    margin-left: 10%;
    width: 50%;
}

.app-content__about {
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

//animation
.fade--up {
    top: 0;
    opacity: 1;
}

@keyframes fadeup {
    0% {
        top: 30%;
        opacity: 0;
    }

    50% {
        top: 15%;
        opacity: 0;
    }

    75% {
        // top: 7.5%;
        opacity: .4;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}