* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: url(../images/bfd7450342b686690d5f58e75469550f.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: scroll; }

.app-content {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-animation: fadeup 2s forwards ease-out;
          animation: fadeup 2s forwards ease-out; }

.app-content-center {
  margin-left: 10%;
  margin-bottom: 2%;
  width: 60%; }

.app__slogan {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 4rem;
  font-weight: 300; }

.app-content-footer {
  margin-left: 10%;
  width: 50%; }

.app-content__about {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: white; }

.fade--up {
  top: 0;
  opacity: 1; }

@-webkit-keyframes fadeup {
  0% {
    top: 30%;
    opacity: 0; }
  50% {
    top: 15%;
    opacity: 0; }
  75% {
    opacity: .4; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes fadeup {
  0% {
    top: 30%;
    opacity: 0; }
  50% {
    top: 15%;
    opacity: 0; }
  75% {
    opacity: .4; }
  100% {
    top: 0;
    opacity: 1; } }

@media all and (max-width: 800px) {
  .app-content {
    height: 60vh; }
  .app-content-center {
    width: 80%;
    margin: 2% auto; }
  .app__slogan {
    font-size: 2rem; }
  .app-content-footer {
    width: 70%; }
  .app-content__about {
    font-size: 1rem; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4%;
  height: 10vh;
  width: 100%;
  position: fixed;
  -webkit-animation: fadeDown 2s forwards cubic-bezier(0, 0.99, 0.93, 0.83);
          animation: fadeDown 2s forwards cubic-bezier(0, 0.99, 0.93, 0.83);
  z-index: 100; }

.header-relative {
  position: relative;
  top: 0; }

.header.trans--down {
  top: 0;
  opacity: 1; }

.header-title {
  margin-right: 4%; }

.header__title-name,
.header__link {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  text-decoration: none; }

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4%; }

.header__link {
  margin: 0 10%; }

.header__link:hover {
  color: #a09999; }

@-webkit-keyframes fadeDown {
  0% {
    top: -10%;
    opacity: 0; }
  50% {
    top: -5%;
    opacity: 0; }
  75% {
    opacity: .5; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes fadeDown {
  0% {
    top: -10%;
    opacity: 0; }
  50% {
    top: -5%;
    opacity: 0; }
  75% {
    opacity: .5; }
  100% {
    top: 0;
    opacity: 1; } }

@media all and (max-width: 800px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #2c2d2d;
    position: relative;
    height: 15vh;
    padding-bottom: 2%; }
  .header-title {
    padding: 4% 0; }
  .header-links {
    width: 90%; } }

.projects-section {
  z-index: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.project {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.back-freelance {
  background: url(../images/80c8d6e89179d1b8e217012c942696b3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.back-hobby-games {
  background: url(../images/ec760aedc57a5e83b0a9ad06189c178a.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.back-school-projects {
  background: url(../images/d62c08192c27617bec05e09405f6457f.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.back-opacity {
  opacity: 1; }

.project__title {
  position: relative;
  z-index: 300;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-decoration: none; }

.project__title:hover {
  cursor: pointer;
  opacity: 0;
  display: block;
  width: 100%; }

.project__title:hover + .back {
  opacity: 1; }

@media all and (max-width: 800px) {
  .project {
    width: 100%; }
  .projects-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 95vh; }
  .project__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  .project__title:hover {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  .back-hobby-games {
    background-position: 5% 0; }
  .back {
    opacity: 1; } }

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 15vh;
  width: 100%;
  bottom: 0;
  padding: 0 4%; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__link {
  display: block;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  -webkit-animation: fadeIn 2s forwards ease-in;
          animation: fadeIn 2s forwards ease-in;
  margin-right: 20%; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  94% {
    opacity: 0; }
  95% {
    opacity: .3; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  94% {
    opacity: 0; }
  95% {
    opacity: .3; }
  100% {
    opacity: 1; } }

.footer-relative {
  position: relative; }

@media all and (max-width: 800px) {
  .footer-projects-mobile {
    position: relative;
    bottom: 0; }
  .footer-app-mobile {
    bottom: 5%; }
  .footer__link {
    font-size: 1rem;
    margin-right: 10%; } }

