* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: url(../images/bfd7450342b686690d5f58e75469550f.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: scroll; }

#root {
  position: relative; }

.app-content {
  position: relative;
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-animation: fadeup 2s forwards ease-out;
          animation: fadeup 2s forwards ease-out; }

.app-content-center {
  margin-left: 10%;
  margin-bottom: 2%;
  width: 60%; }

.app__slogan {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 4rem;
  font-weight: 300; }

.app-content-footer {
  margin-left: 10%;
  width: 50%; }

.app-content__about {
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: white; }

@-webkit-keyframes fadeup {
  0% {
    top: 30px;
    opacity: 0; }
  50% {
    top: 15px;
    opacity: 0; }
  75% {
    opacity: .4; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes fadeup {
  0% {
    top: 30px;
    opacity: 0; }
  50% {
    top: 15px;
    opacity: 0; }
  75% {
    opacity: .4; }
  100% {
    top: 0;
    opacity: 1; } }

@media all and (max-width: 800px) {
  .app-content {
    height: 60vh; }
  .app-content-center {
    width: 80%;
    margin: 2% auto; }
  .app__slogan {
    font-size: 2rem; }
  .app-content-footer {
    width: 70%; }
  .app-content__about {
    font-size: 1rem; } }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 4%;
  height: 20vh;
  width: 100%;
  position: fixed;
  -webkit-animation: fadeDown 2s forwards cubic-bezier(0, 0.99, 0.93, 0.83);
          animation: fadeDown 2s forwards cubic-bezier(0, 0.99, 0.93, 0.83);
  z-index: 100; }

.header-relative {
  position: relative;
  top: 0; }

.header.trans--down {
  top: 0;
  opacity: 1; }

.header-title {
  margin-right: 4%; }

.header__title-name,
.header__link {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
  text-decoration: none; }

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4%; }

.header__link {
  margin: 0 10%; }

.header__link:hover {
  color: #a09999; }

@-webkit-keyframes fadeDown {
  0% {
    top: -10%;
    opacity: 0; }
  50% {
    top: -5%;
    opacity: 0; }
  75% {
    opacity: .5; }
  100% {
    top: 0;
    opacity: 1; } }

@keyframes fadeDown {
  0% {
    top: -10%;
    opacity: 0; }
  50% {
    top: -5%;
    opacity: 0; }
  75% {
    opacity: .5; }
  100% {
    top: 0;
    opacity: 1; } }

@media all and (max-width: 800px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #2c2d2d;
    position: relative;
    height: 15vh;
    padding-bottom: 2%; }
  .header-title {
    padding: 4% 0; }
  .header-links {
    width: 90%; } }

.projects-section {
  z-index: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: fadeInProjects 2s ease-in forwards;
          animation: fadeInProjects 2s ease-in forwards; }

.project {
  position: relative;
  width: calc(100% / 3);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.back-freelance {
  background: url(../images/c0cbbee64798eed91b70fd70d551b86a.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.back-hobby-games {
  background: url(../images/80c8d6e89179d1b8e217012c942696b3.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.back-school-projects {
  background: url(../images/b7ddd1cded9a44b1264077023beff780.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

.back-opacity {
  opacity: 1; }

.project__title {
  position: relative;
  z-index: 300;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-decoration: none; }

.project__title:hover {
  cursor: pointer;
  opacity: 0;
  display: block;
  width: 100%; }

.project__title:hover + .back {
  opacity: 1; }

@-webkit-keyframes fadeInProjects {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInProjects {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media all and (max-width: 800px) {
  .project {
    width: 100%; }
  .projects-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 95vh; }
  .project__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  .project__title:hover {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); }
  .back-hobby-games {
    background-position: center; }
  .back {
    opacity: 1; } }

.footer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  height: 15vh;
  width: 100%;
  bottom: 0;
  padding: 0 4%; }

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer__link {
  display: block;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  -webkit-animation: fadeIn 1s forwards ease-in;
          animation: fadeIn 1s forwards ease-in;
  margin-right: 20%; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  94% {
    opacity: 0; }
  95% {
    opacity: .3; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  94% {
    opacity: 0; }
  95% {
    opacity: .3; }
  100% {
    opacity: 1; } }

.footer-relative {
  position: relative; }

@media all and (max-width: 800px) {
  .footer-projects-mobile {
    position: relative;
    bottom: 0; }
  .footer-app-mobile {
    bottom: 5%; }
  .footer__link {
    font-size: 1rem;
    margin-right: 10%; } }

.freelance-section {
  height: 100%;
  position: relative;
  top: 10vh;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.freelance-card {
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  height: 400px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  border-radius: 20px;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
  z-index: 0;
  margin-bottom: 20px; }

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d; }

.freelance-card.juliet:hover {
  z-index: 100;
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.freelance-card.reelStart:hover {
  z-index: 100;
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }

.freelance-card:hover .card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 20px; }

.juliet-video {
  width: 100%;
  height: 100%;
  background: black;
  border-radius: 20px; }

.card-back.juliet {
  background-color: #14557a;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.card-back {
  padding: 10px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.back__face__title {
  margin-bottom: 20px;
  font-size: 2rem; }

.about__site {
  font-size: 1.3rem;
  padding: 0 3px;
  margin-bottom: 20px; }

.card__link {
  width: 40%;
  height: 30px;
  margin: 0 auto;
  color: black;
  font-size: 2rem;
  line-height: 3rem;
  text-decoration: none;
  background: #5f5d5d;
  border-radius: 5px;
  border: 1px solid black;
  -webkit-box-shadow: 2px 2px 3px 0px grey;
          box-shadow: 2px 2px 3px 0px grey; }

.juliet__link:hover {
  -webkit-box-shadow: 1px 1px 3px 0px grey;
          box-shadow: 1px 1px 3px 0px grey; }

.juliet__link:active {
  -webkit-box-shadow: .5px .5px 0px 0px grey;
          box-shadow: .5px .5px 0px 0px grey; }

.card-back.reelStart {
  background-color: #85086a;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.reelStart__card__face {
  display: block;
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
  border-radius: 20px; }

@media all and (max-width: 800px) {
  .freelance-section {
    height: 100%;
    top: 0; } }

